{% extends 'base.html' %}
{% load static %}
{% block 'content' %}
<div>
    <content id="vacunas_mascota">
        <div class="container">                
            <div class="mx-auto text-justify" style="max-width: 600px;">

                <!-- Historial de vacunas mascota -->
                <div class="card shadow-lg p-5">
                    <h2>Agendamientos</h2>
                    <hr><br>
                    <center>
                        <h5><i>No tienes citas agendadas</i></h5>
                    </center>
                    <br>                                                                                                    
                    <!-- Campos subdivididos -->
                    <div class="list-group">                                                                                                
                        <span class="list-group-item list-group-item-action">                                    
                            <p>
                                <a href="">Volver al dashboard | </a>
                                <a href="">Ir a tus mascotas | </a>
                                <a href="">Ir al vacunatorio</a>
                            </p>                                                                    
                        </span>                                  
                    </div>
                    <br>
                    <a href="" class="btn btn-primary">Agendar nueva cita</a>
                </div>                        
            </div>
        </div>            
    </content>
</div>
{% endblock %}
