{% extends 'base.html' %}
{% load static %}
{% block 'content' %}
<div>
    <content id="agenda">

        <div class="container">                
            <div class="mx-auto text-justify" style="max-width: 600px;">

                <!-- Listado de citas médicas -->
                <div class="card shadow-lg p-5">
                    <h2>Agenda de Citas Médicas</h2>
                    <hr><br>

                    <!-- Mensaje de búsqueda sin resultados y conteo -->
                    {% if message %}
                        <div class="alert alert-warning">
                            <center>{{ message }}</center>
                        </div>
                    {% endif %}

                    {% if conteo %}
                        <div class="alert alert-warning">
                            <center>Total coincidencias: {{ conteo }}</center>
                        </div>
                    {% endif %}

                    <!-- Buscador -->
                    <form action="" method="GET" class="mb-3">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" name="filtro" class="form-control" placeholder="Buscar por fecha (año-mes-día), cliente o paciente">
                            <button type="submit" class="btn btn-primary">Buscar</button>
                        </div>
                    </form>

                    <!-- Crear nueva cita y nueva consulta-->
                    <br>
                    <a href="{% url 'reservar_hora' %}" class="btn btn-primary">Agendar Cita</a><br>
                    <a href="{% url 'consulta' %}" class="btn btn-primary">Formulario de Consulta</a>
                    <br>

                    <!-- Listado -->
                    <div class="list-group">                                                                                                
                        {% for cita in citas %}
                            <a href="{% url 'consulta' %}" class="list-group-item list-group-item-action">
                                <h5 class="mb-1">{{ cita.tipo|title }}</h5>
                                <p class="mb-1">Fecha: {{ cita.fecha|date:"Y-m-d" }}</p>
                                <p class="mb-1">Hora: {{ cita.fecha|time:"H:i A" }}</p>
                                {% if cita.paciente %}
                                    <p class="mb-1"><i>Paciente: {{ cita.paciente|title }}</i></p>
                                    <p class="mb-1"><i>Cliente: {{ cita.dueño|title }}</i></p>
                                {% else %}
                                <p class="mb-1">Disponible</p>
                                {% endif %}
                            </a>
                        {% endfor %}
                    </div>
                    <br>                            
                </div>                        
            </div>
        </div>            
    </content>
</div>
{% endblock %}
