{% extends 'base.html' %}
{% load static %}
{% block 'content' %}
<div>
    <content id="listado_pacientes">

            <div class="container">                
                <div class="mx-auto text-justify" style="max-width: 600px;">

                    <!-- Listado de clientes -->
                    <div class="card shadow-lg p-5">
                        <h2>Listado de Clientes</h2>
                        <hr><br>

                        <!-- Mensaje de búsqueda sin resultados y conteo -->
                        {% if message %}
                            <div class="alert alert-warning">
                                <center>{{ message }}</center>
                            </div>
                        {% endif %}

                        {% if conteo %}
                            <div class="alert alert-warning">
                                <center>Total coincidencias: {{ conteo }}</center>
                            </div>
                        {% endif %}
                        
                        <!--
                        <center>
                            <p style="color: red;">
                                {% if conteo %}
                                    <i>Total coincidencias: {{ conteo }}</i>
                                {% endif %}
                            </p>
                        </center> -->

                        <!-- Buscador -->
                        <form action="" method="GET" class="mb-3">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" name="filtro" class="form-control" placeholder="Buscar por nombre de cliente">
                                <button type="submit" class="btn btn-primary">Buscar</button>
                            </div>
                        </form>                        

                        <!-- Crear nuevo cliente -->
                        <a href="{% url 'registro' %}" class="btn btn-primary">Nuevo Cliente</a>
                        <br>                        

                        <!-- Listado -->
                        {% for cliente in clientes %}
                            <div class="list-group">                                                                                                
                                <a href="{% url 'perfil_usuario' cliente.id %}" class="list-group-item list-group-item-action">
                                    <h5 class="mb-1">{{ cliente.usuario.first_name|title}} {{ cliente.usuario.last_name|title }}</h5>
                                    <p class="mb-1">Email: {{ cliente.usuario.email }}</p>
                                    <p class="mb-1">Teléfono: {{cliente.telefono}}</p>
                                    <p class="mb-1">
                                        Dirección: {{ cliente.direccion.calle|title }} {{ cliente.direccion.numero }},
                                            {% if cliente.direccion.depto %}
                                                Depto: {{ cliente.direccion.depto }},
                                            {% endif %}
                                            {{ cliente.direccion.comuna.nombre_comuna|title }}                                            
                                    </p>
                                </a>                                                                                                                                                                      
                            </div>
                        {% endfor %}                        
                        <br>                            
                    </div>                        
                </div>
            </div>            
    </content>
</div>
{% endblock %}
