{% extends 'base.html' %}
{% load static %}
{% block 'content' %}
<div>
    <content id="perfil_cliente">

            <div class="container">                
                <div class="mx-auto text-justify" style="max-width: 600px;">

                    <!-- Perfil de usuario -->
                    <div class="card shadow-lg p-5">
                        <h2>Información del Cliente</h2>
                        <hr><br>
                                                                            
                        <!-- Campos subdivididos -->
                        <div class="list-group">
                            <span class="list-group-item list-group-item-action">                                    
                                    <h5 class="mb-1">Nombre</h5>
                                    <p class="mb-1">Ana López</p>                                        
                            </span>
                            <span class="list-group-item list-group-item-action">
                                <h5 class="mb-1">Contacto</h5>
                                    <p class="mb-1">Email: ana_lopez@mail.com</p>
                                    <p class="mb-1">Teléfono: +569 88888888</p>                                
                            </span>
                            <span class="list-group-item list-group-item-action">
                                <h5 class="mb-1">Dirección</h5>
                                    <p class="mb-1">San Ruperto #345</p>
                                    <p class="mb-1">Colina, Región Metropolitana</p>                                
                            </span>
                            <span class="list-group-item list-group-item-action">
                                <h5 class="mb-1">Mascotas</h5>
                                    <p class="mb-1"><a href="">Bella</a></p>                                       
                                    <p class="mb-1"><a href="">Diógenes</a></p>
                                    <p class="mb-1"><a href="">Estanislao</a></p>
                            </span>
                            <span class="list-group-item list-group-item-action">
                                
                                <p>
                                    <a href="">Formulario de atención | </a>
                                    <a href="">Agendar consulta | </a>                                        
                                    <a href="">Volver</a>
                                </p>
                                
                            </span>                                  
                        </div>
                        <br>
                        <a href="" class="btn btn-primary">Editar información</a>
                        <br>
                        <a href="" class="btn btn-delete" style="background-color: red; border-color: red;">Eliminar cliente</a>
                    </div>                        
                </div>
            </div>            
    </content>
</div>
{% endblock %}