{% extends 'base.html' %}
{% load static %}
{% block 'content' %}
<div>
    <section id="registro">
        <div class="container">
            <div class="mx-auto text-justify" style="max-width: 600px;">
                <!-- Formulario de registro -->
                <div class="card shadow-lg p-5">
                    <h2>Editar Información</h2>
                    <hr><br>
                    
                    <!-- Mensaje de éxito -->
                    {% if success_message %}
                    <div class="alert alert-success" role="alert">
                        <center>{{ success_message }}</center>
                    </div>
                    {% endif %}
                    <!-- Mensaje de error -->
                    {% if error_message %}
                    <div class="alert alert-danger" role="alert">
                        <center>{{ error_message }}</center>
                    </div>
                    {% endif %}

                    <p>Actualiza la información en los campos.</p>
                    <br>
                    <form action="" method="post">
                        {% csrf_token %}                        
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" value="{{ cliente.usuario.first_name|title }}" placeholder="Ingrese nombres" id="nombres" name="nombres" required>
                        </div>
                        <div class="mb-3">
                            <label for="apellidos" class="form-label">Apellidos</label>
                            <input type="text" class="form-control" value="{{ cliente.usuario.last_name|title }}" placeholder="Ingrese apellidos" id="apellidos" name="apellidos" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo Electrónico</label>
                            <input type="email" class="form-control" value="{{ cliente.usuario.email }}" placeholder="Ingrese email" id="email" name="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="telefono" class="form-label">Teléfono</label>
                            <input type="tel" class="form-control" value="{{ cliente.telefono }}" placeholder="Ingrese teléfono" id="telefono" name="telefono" required>
                        </div>
                        <div class="mb-3">
                            <label for="calle" class="form-label">Calle</label>
                            <input type="text" class="form-control" value="{{ cliente.direccion.calle|title }}" placeholder="Ingrese calle" id="calle" name="calle" required>
                        </div>
                        <div class="mb-3">
                            <label for="numero" class="form-label">Número</label>
                            <input type="text" class="form-control" value="{{ cliente.direccion.numero }}" placeholder="Ingrese número" id="numero" name="numero" required>
                        </div>
                        <div class="mb-3">
                            <label for="departamento" class="form-label">Departamento</label>
                            <input type="text" class="form-control" value="{{ cliente.direccion.depto }}" placeholder="Ingrese departamento (opcional)" id="departamento" name="departamento">
                        </div>                                        
                        <!-- Comuna -->
                        <div class="mb-3">
                            <label for="comuna" class="form-label">Comuna:</label>
                            <select class="form-select" id="comuna" name="comuna" required>
                                <option value="" selected disabled>{{ cliente.direccion.comuna.nombre_comuna }}</option>                            
                                {% for comuna in comunas %}
                                    <option value="{{ comuna.nombre_comuna }}">{{ comuna.nombre_comuna }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary" onclick="">Actualizar Información</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
