{% extends 'base.html' %}
{% load static %}
{% block 'content' %}
<div>
    <content id="newsletter">
        <div class="container">                
            <div class="mx-auto text-justify" style="max-width: 600px;">

                <!-- Formulario para recibir newsletter -->
                <div class="card shadow-lg p-5">
                    <h2>Suscribir Newsletter</h2>
                    <hr><br>

                    <!-- Mensaje de éxito -->
                    {% if success_message %}
                        <div class="alert alert-success" role="alert">
                            <center>{{ success_message }}</center>
                        </div>
                    {% endif %}
                        
                    <p>Suscríbete a nuestro newsletter para recibir noticias, promociones, consejos útiles y mucho más.</p>
                    <br>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="nombres" class="form-label">Nombres</label>
                            <input type="text" class="form-control" placeholder="" id="nombres" name="nombres" required>
                        </div>
                        <div class="mb-3">
                            <label for="apellidos" class="form-label">Apellidos</label>
                            <input type="text" class="form-control" placeholder="" id="apellidos" name="apellidos" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo Electrónico</label>
                            <input type="email" class="form-control" placeholder="" id="email" name="email" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Suscribirse</button>
                    </form>
                </div>    
            </div>
        </div>            
    </content>
</div>
{% endblock %}
