{% extends 'base.html' %}
{% load static %}
{% block 'content' %}
<div>
    <content id="listado_pacientes">

        <div class="container">                
            <div class="mx-auto text-justify" style="max-width: 600px;">

                <!-- Listado de pacientes -->
                <div class="card shadow-lg p-5">
                    <h2>Listado de Pacientes</h2>
                    <hr><br>
                    
                    <!-- Mensaje de búsqueda sin resultados y conteo -->
                    {% if message %}
                        <div class="alert alert-warning">
                            <center>{{ message }}</center>
                        </div>
                    {% endif %}
                    {% if conteo %}
                        <div class="alert alert-warning">
                            <center>Total coincidencias: {{ conteo }}</center>
                        </div>
                    {% endif %}

                    <!-- Buscador -->
                    <form action="" method="GET" class="mb-3">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" name="filtro" class="form-control" placeholder="Buscar por nombre de paciente">
                            <button type="submit" class="btn btn-primary">Buscar</button>
                        </div>
                    </form>

                        <!-- Crear nuevo paciente o nuevo cliente-->
                        <a href="{% url 'registro' %}" class="btn btn-primary">Nuevo Cliente</a>
                        <br>
                        <a href="{% url 'registro_mascota' %}" class="btn btn-primary">Nuevo Paciente</a>
                        <br>                        

                        <!-- Listado -->
                        {% for paciente in pacientes %}
                            <div class="list-group">                                                                                                
                                <a href="{% url 'perfil_paciente' paciente.id %}" class="list-group-item list-group-item-action">
                                    <h5 class="mb-1">{{ paciente.nombre|title }}</h5>
                                    <p class="mb-1">Especie: {{ paciente.especie|title }}</p>
                                    <p class="mb-1">Raza: {{ paciente.raza|title }}</p>
                                    <p class="mb-1">Edad: {{ paciente.edad }} meses</p>
                                    <p class="mb-1">
                                        Cliente:
                                        {{ paciente.cliente.usuario.first_name|title }}
                                        {{ paciente.cliente.usuario.last_name|title }}
                                    </p>
                                </a>                                                                                                                                                                      
                            </div>
                        {% endfor %}  
                        <br>                            
                    </div>                        
                </div>
            </div>            
    </content>
</div>
{% endblock %}
