{% extends 'base.html' %}
{% load static %}
{% block 'content' %}
<div>
    <content id="perfil_usuario">
        <div class="container">                
            <div class="mx-auto text-justify" style="max-width: 600px;">
                <!-- Perfil de Mascota -->
                <div class="card shadow-lg p-5">
                    <h2>Información de Mascota</h2>
                    <hr><br>
                                                                            
                    <!-- Campos subdivididos -->
                <div class="list-group">
                    <span class="list-group-item list-group-item-action">                                    
                        <h5 class="mb-1">Nombre</h5>
                        <p class="mb-1">Luna</p>                                        
                    </span>
                    <span class="list-group-item list-group-item-action">
                        <h5 class="mb-1">Chip</h5>
                        <p class="mb-1">1234567890ABCDEF</p>                                    
                    </span>
                    <span class="list-group-item list-group-item-action">
                        <h5 class="mb-1">Información</h5>
                        <p class="mb-1">Especie: Felina</p>
                        <p class="mb-1">Raza: Siamese</p>
                        <p class="mb-1">Edad: 8 meses</p>
                        <p class="mb-1">Sexo: Hembra</p>
                        <p class="mb-1">Esterilización: Sí</p>
                    </span>
                    <span class="list-group-item list-group-item-action">                                    
                        <p>
                            <a href="">Reservar cita | </a>
                            <a href="">Historial vacunas | </a>                                        
                            <a href="">Volver</a>
                        </p>                        
                    </span>                                  
                </div>
                <br>
                <a href="" class="btn btn-primary">Editar información</a>
                </div>                        
            </div>
        </div>            
    </content>
</div>
{% endblock %}
